.hi {
    font-family: Helvetica;
    }
a {
    color: whitesmoke;
    font-family: sans-serif;
}
h4.hi{
    font-style: italic;
}
.girl{
    height: 200px;
}
.home{
    position: relative;
    left: -110px;
    bottom: -20px;
}
.h2 {
    font-family: Arial, Helvetica, sans-serif;
}
@media (prefers-color-scheme: dark) {
    body {
      background-color: black;
    }
    a {
      color: whitesmoke;
    }
    h1{
        color: whitesmoke;
    }
    h4{
        color: whitesmoke;
    }
  }
  .nyan{
        background-color: #FFC0CB;
  }