:root {
    --spacing-company: 3rem;
    --font-weight: 400;
    --border-radius: 0;
  }
h2,
h3,
hgroup> :last-child {
    font-weight: 200;
  }

  body {
    background-color: black;
    color: white; /* Set text color to white for better visibility on a dark background */
    margin: 0; /* Remove default margin for body */
    font-family: Arial, sans-serif; /* Specify a fallback font */
    overflow: hidden;
}
.nightColor {
  background: #CF1F1F;
  background: linear-gradient(to right, #CF1F1F 0%, #CF00BA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: bold;
  font-family: Helvetica;

}
.nyan {
    background-position: center;
    background-size: cover;
}
.container {
  height: 100vh;
}

.center-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transition: transform 0.3s ease;
}

.center-container:hover img {
  transform: translateY(-10px);
}

.center-container:hover::before {
  content: "Dancing Emote by @hayleyy on twitch";
  display: block;
  position: absolute;
  bottom: 38%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}
